# --- Node / sesiones Baileys ---
bot-wasap/baileys_auth/
node_modules/

# --- Python/Django ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
db.sqlite3

# --- Secretos ---
service_account.json
.env
*.key
*.pem

# --- builds temporales ---
dist/
build/
