# Ignorar todo (raíz)
*/

# Permitir las carpetas padre para hacer excepciones internas
!bot-wasap/
!inventario_wasap/

# En bot-wasap: ignora todo y permite SOLO index.js
bot-wasap/*
!bot-wasap/index.js

# En inventario_wasap: ignora todo y permite SOLO la carpeta inventario/
inventario_wasap/*
!inventario_wasap/inventario/

# Basura común que nunca queremos subir
**/node_modules/
**/__pycache__/
**/.venv/
**/venv/
**/*.log
**/*.sqlite3
**/db.sqlite3
**/.env
**/service_account.json
**/dist/
**/build/
